@use 'constants';

@mixin button-styles {
    @include constants.inline-row;
    width: 100%;
    padding: 0.25rem 0px;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    align-items: center;

    &:hover {
        cursor: pointer;

        p {
            font-weight: 550;
        }

        svg {
            stroke-width: 0.1875rem;
        }
    }

    svg {
            width: 1rem;
            margin-right: 0.5rem;
        }

    p {
        text-transform: capitalize;
    }
}

svg {
    transition: stroke-width 0.2s ease;
}

p {
    transition: font-weight 0.2s ease;
}

form {
    width: 100%;
}

.sidebar-container {
    position: relative;
    transition: min-width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 15rem;
    min-width: 12rem;
    min-height: 100vh;
    background: constants.$background-color;
}

.sidebar-expanded {
    @include constants.inline-column;
    width: 100%;
    text-transform: capitalize;
    padding: 1rem;
    min-height: 100%;

    .header-container {
        @include constants.inline-row;
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        height: fit-content;
        color: constants.$primary-color;

        .header-logo {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.5rem;
        }

        .company-name {
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 550;
        }

        .feather-x {
            margin-left: auto;
            stroke-width: 0.1875rem;
            width: 1rem;
            height: 100%;
            color: constants.$secondary-color;
        }

        .feather-x:hover {
            cursor: pointer;
            stroke-width: 0.25rem;
            color: constants.$primary-color;
        }

        .user-name {
            color: constants.$primary-color;
        }

        .user-name:hover {
            font-weight: 600;
            cursor: pointer;
        }
    }

    .new-task-button {
        @include button-styles;
        @include constants.inline-row;
        background-color: #2C353F;
        color: constants.$background-color;
        margin-bottom: 0.5rem;

        p {
            margin-right: 1rem;
        }
    }

    .logout-button {
        @include button-styles;
        @include constants.inline-row;
        background-color: #EFEFEF;
        color: constants.$primary-color;

        p {
            margin-right: 0.5rem;
        }
    }

    .header-text {
        color: #6C7B91;
        font-size: 1rem;
        font-weight: 550;
        margin-bottom: 0.5rem;
    }

    .menu {
        @include constants.inline-column;
        font-size: 1rem;
        text-transform: capitalize;
        flex-grow: 1;
        width: 100%;
        border-bottom: 0.1875rem solid constants.$border-color;
        margin-bottom: 1rem;

        .navigation-link:last-child {
            margin-top: auto;
        }

        .navigation-link {
            @include constants.inline-row;
            color: constants.$tertiary-color;
            margin-bottom: 0.3rem;
            padding: 0.4rem 0.5rem;
            align-items: center;

            svg {
                margin-right: 0.5rem;
                width: 1rem;
                height: 100%;
                stroke-width: 0.125rem;
                margin-left: 0.5rem;
                padding-bottom: 0.15rem;
            }
        }

        .navigation-link:hover {
            cursor: pointer;
            font-weight: 600;

            svg {
                stroke-width: 0.1875rem;
            }
        }

        .selected {
            @include constants.inline-row;
            color: constants.$primary-color;
            border-radius: 0.5rem;
            background-color: #EFEFEF;
        }
    }

    .profile {
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-top: auto;

        img {
            background-color: blue;
            width: 2rem;
            height: 2rem;
            border-radius: 0.75rem;
            margin-right: 0.5rem;
        }

        .profile-content {
            @include constants.inline-row;
            margin-bottom: 1rem;
            align-items: center;
        }

        .profile-text {
            @include constants.inline-column;
            justify-content: center;
            font-size: 0.8rem;
            line-height: 1;
            height: 100%;
        }

        .profile-name {
            color: constants.$primary-color;
            text-transform: capitalize;
            margin-bottom: 0.25rem;
        }

        .profile-email {
            color: constants.$tertiary-color;
            text-transform: lowercase;
        }
    }
}


