@use 'constants';

svg {
    transition: stroke-width 0.2s ease;
}

.sidebar-container {
    position: relative;
    height: 100%;
    transition: min-width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);

}

.sidebar-expanded {
    @include constants.inline-column;
    background: constants.$background-color;
    width: 100%;
    height: 100%;
    text-transform: capitalize;
    padding: 64px;

    .header-container {
        @include constants.inline-row;
        display: flex;
        align-items: center;
//         padding: 15px 0px 20px 25px;
        margin-bottom: 32px;
        width: inherit;
        font-size: 2rem;
        height: fit-content;
        color: constants.$primary-color;

        .header-logo {
            width: 5rem;
            height: 5rem;
            margin-right: 32px;
        }

        .company-name {
            font-size: 4rem;
            text-transform: uppercase;
        }

        .feather-x {
            margin-left: auto;
            stroke-width: 3;
            width: 2rem;
            height: 100%
        }

        .feather-x:hover {
            cursor: pointer;
            stroke-width: 3;
        }

        .user-name {
            color: constants.$primary-color;
        }

        .user-name:hover {
            font-weight: 600;
            cursor: pointer;
        }
    }

    .new-task-button {
        @include constants.inline-row;
        background-color: #2C353F;
        width: 100%;
        padding: 12px 0px;
        justify-content: center;
        border-radius: 20px;
        font-size: 3rem;
        color: constants.$background-color;
        margin-bottom: 20px;
        font-weight: 300;

        svg {
            width: 3rem;
            height: 100%;
            margin-right: 16px;
        }

        p {
            text-transform: capitalize;
        }
    }

    .logout-button {
        @include constants.inline-row;
        background-color: #EFEFEF;
        width: 100%;
        padding: 12px 0px;
        justify-content: center;
        border-radius: 20px;
        border: none;
        font-size: 2.5rem;
        color: constants.$primary-color;
        font-weight: 300;

        svg {
            width: 2.5rem;
            height: 100%;
            margin-right: 16px;
        }

        p {
            text-transform: capitalize;
        }
    }

    .header-text {
        color: #6C7B91;
        font-size: 2.5rem;
        font-weight: 550;
        margin-bottom: 10px;
    }

    .menu {
        @include constants.inline-column;
        margin-top: 10px;
        font-size: 3rem;
        text-transform: capitalize;
        height: 100%;
        width: 100%;
        border-bottom: 3px solid constants.$border-color;
        margin-bottom: 32px;

        .navigation-link:last-child {
            margin-top: auto;
        }



        .navigation-link {
            @include constants.inline-row;
            color: constants.$tertiary-color;
            margin-bottom: 32px;
            padding: 16px 12px;

            svg {
                margin-right: 24px;
                width: 3rem;
                height: 100%;
                stroke-width: 2;
                margin-left: 32px;
                padding-bottom: 4px;
            }
        }

        .navigation-link:hover {
            cursor: pointer;
            font-weight: 600;
            transition: font-weight 0.2s ease;

            svg {
                stroke-width: 3;
            }
        }

        .selected {
            @include constants.inline-row;
            color: constants.$primary-color;
            border-radius: 20px;
            background-color: #EFEFEF;
        }
    }

    .profile {
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-top: auto;

        img {
            background-color: blue;
            width: 6rem;
            height: 6rem;
            border-radius: 50px;
            margin-right: 16px;
        }

        .profile-content {
            @include constants.inline-row;
            margin-bottom: 64px;
            margin-top: 16px;
        }

        .profile-text {
            @include constants.inline-column;
            justify-content: center;
            font-size: 2.5rem;
            height: 100%;
        }

        .profile-name {
            color: constants.$primary-color;
            text-transform: capitalize;
            font-weight: 550;
            line-height: 1;
            margin-bottom: 4px;
        }

        .profile-email {
            color: constants.$tertiary-color;
            text-transform: lowercase;
            line-height: 1;
        }
    }
}


