



/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
  margin-top: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  max-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
  user-select: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
                                        CSS RESET OVER
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 */

/*
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
                                        CONSTANTS
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 */

.primary {
    color: #000000;
}

.secondary {
    color: #363636;
}

.tertiary {
    color: #5B5B5B;
}

.colourful {
    background: linear-gradient(to right, #4C64CA, #5F39BC);
    color: #EAEAEA;
}

.secondary-button {
    border-radius: 12px;
    text-transform: capitalize;
    padding: 5px;
    border: 3px solid #E1E5E8;
    background-color: #F5F5F5;
}

.secondary-button:hover {
    cursor: pointer;
    background-color: #E1E5E8;
    font-weight: 600;
}

.active-button {
    background-color: #E1E5E8;
}

.secondary-button:hover svg {
    stroke-width: 3;
}

.mmr {
    margin-right: 15px;
}

.smr {
    margin-right: 5px;
}

.br {
    border-right: 3px solid #E1E5E8;
}

.hide {
    display: none;
}

.lmb {
    margin-bottom: 25px;
}

.mmb {
    margin-bottom: 15px;
}

.smt {
    margin-top: 5px;
}

.mmt {
    margin-top: 15px;
}

/*
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
                                        FONT
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 */

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

/*
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
                                        DIRECTIONAL
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 */

.inline-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inline-column {
    display: flex;
    flex-direction: column;
}

.translate-x {
    transform: translateX(-100%)
}

.right-side {
    margin-left: auto;
}

/*
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
                                        SIDEBAR
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 */

.sidebar-container {
    position: relative;
    height: 100vh;
    transition: min-width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);
}

.small-bar {
    min-width: 55px;
}

.large-bar {
    min-width: 300px;
}

/*
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
                                        SIDEBAR - expanded
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 */

.sidebar-expanded {
    background-color: #F5F5F5;
    width: 300px;
    height: 100vh;
    text-transform: capitalize;
    margin-right: 30px;
}

/*
-=-=-=-=-=-=-=-=-=-=-=-=-=-=
    HEADER
-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

.sidebar-expanded .header {
    display: flex;
    align-items: center;
    padding: 15px 0px 20px 25px;
    width: inherit;
    border-bottom: 3px solid #E1E5E8;
    font-size: 32px;
    height: 100px;
}

.sidebar-expanded .header a:hover {
    font-weight: 600;
    cursor: pointer;
}

.sidebar-expanded .header svg {
    margin-right: 10px; /* Add some space between the object and h1 */
    transition: stroke-width 0.2s ease;
}

.sidebar-expanded .header svg:hover {
    cursor: pointer;
    stroke-width: 3;
}

/*
-=-=-=-=-=-=-=-=-=-=-=-=-=-=
    NAVIGATION
-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/
/* margin: top right bottom left */

.sidebar-expanded .navigation {
    margin-top: 10px;
    font-size: 24px;
    height: 100%;
    border-bottom: 3px solid #E1E5E8;
}

.sidebar-expanded .navigation .option:last-child {
    margin: auto 20px 5px 10px;
}

.sidebar-expanded .navigation .option {
    padding: 5px 0 5px 15px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 25px;
}

.sidebar-expanded .navigation .option svg {
    transition: stroke-width 0.2s ease;
    margin-right: 10px;
}

.sidebar-expanded .navigation .option:hover {
    font-weight: 700;
    cursor: pointer;
    transition: font-weight 0.2s ease;
}

.sidebar-expanded .navigation .option:hover svg {
    stroke-width: 3;
}

/*
-=-=-=-=-=-=-=-=-=-=-=-=-=-=
    PROFILE
-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

.sidebar-expanded .profile {
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.sidebar-expanded .profile .container img {
    background-color: #0085FF;
    border-radius: 50%;
    margin-right: 10px;
}

.sidebar-expanded .profile .container {
    margin: 15px 5px 15px 0;
    background-color: #E1E5E8;
    border-radius: 20px;
    padding: 10px;

}

.sidebar-expanded .profile .container svg {
    transition: stroke-width 0.2s ease;
}

.sidebar-expanded .profile .container svg:hover {
    cursor: pointer;
    stroke-width: 3;
}

.sidebar-expanded .profile .container .userinfo {
    margin-right: 10px;
    min-width: 150px;
}

.sidebar-expanded .profile .container .userinfo .name {
    font-size: 20px;
    line-height: 1;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sidebar-expanded .profile .container .userinfo .job {
    font-size: 13px;
    line-height: 1.2;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
                                        SIDEBAR - collapsed
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 */

.sidebar-collapsed {
    background-color: #F5F5F5;
    height: 100vh;
    width: 55px;
    text-transform: capitalize;
}

.sidebar-expanded,
.sidebar-collapsed {
    /* position: absolute; */
    position: absolute;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/*
-=-=-=-=-=-=-=-=-=-=-=-=-=-=
    HEADER
-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

.sidebar-collapsed .header {
    display: flex;
    height: 100px;
    border-bottom: 3px solid #E1E5E8;
    padding: 0 15px;
    align-items: center;
    justify-content: center;
}

.sidebar-collapsed .header svg:hover {
    stroke-width: 3;
    cursor: pointer;
}

/*
-=-=-=-=-=-=-=-=-=-=-=-=-=-=
    NAVIGATION
-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

.sidebar-collapsed .navigation {
    display: flex;
    border-bottom: 3px solid #E1E5E8;
    margin-top: 10px;
    align-items: center;
    height: 100%;
}

.sidebar-collapsed .navigation .icon-button {
    /* padding: 8px; */
    display: flex;
    border-radius: 30%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.sidebar-collapsed .navigation .icon-button:last-child {
    margin: auto 0 5px 0;
}

.sidebar-collapsed .navigation .icon-button svg {
    transition: stroke-width 0.2s ease;
}

.sidebar-collapsed .navigation .icon-button:hover svg {
    stroke-width: 3;
    cursor: pointer;
}
/*
-=-=-=-=-=-=-=-=-=-=-=-=-=-=
    PROFILE
-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

.sidebar-collapsed .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    min-height: 125px;
}

.sidebar-collapsed .profile img {
    background-color: #0085FF;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sidebar-collapsed .profile svg:hover {
    cursor: pointer;
    stroke-width: 3;
}

/*
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
                                        CALENDAR
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 */

main {
    background-color: #F5F5F5;
    height: 100vh;
    display: flex;
    width: 100vw;
}

/*
-=-=-=-=-=-=-=-=-=-=-=-=-=-=
    HEADER
-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

main header {
    text-transform: capitalize;
    /* padding-left: 25px; */
    min-height: 90px;

    justify-content: center;
}

main header .intro {
    height: 90px;
    border-bottom: 3px solid #E1E5E8;
}

main header .container {
    padding-left: 25px;
    line-height: 1;
}

main header .container .welcome {
    font-size: 32px;
    margin-bottom: 2px;
}

main header .container .date {
    font-size: 16px;
}

main header .intro svg {
    margin: 0 25px 0 auto;
    transition: stroke-width 0.2s ease;
}

main header svg:hover {
    stroke-width: 3;
    cursor: pointer;
}

main header .advanced {
    height: 60px;
    border-bottom: 3px solid #E1E5E8;
}

main header .advanced .container {
    display: flex;
    height: 100%;
    width: 100%;
    padding-left: 25px;
    /* justify-content: center; */
    align-items: center;
}

main header .advanced .container .today{
    font-size: 18px;
    padding: 6px 25px;
    margin-right: 15px;
}

main header .advanced .container .date-selector svg {
    margin-right: 5px;
}

main header .advanced .container .date-selector svg {
    margin-right: 5px;
}

main header .advanced .container .right-side {
    margin-right: 25px;
}

main header .advanced .container .right-side .create {
    border: none;
    padding: 10px 15px;
    border-radius: 35px;
    margin-left: 15px;
}

main header .advanced .container .right-side .create p {
    font-size: 20px;
}

body main .calendar {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

body main .calendar .dates {
    text-transform: capitalize;
    padding: 5px 0;
    width: 100%;
    justify-content: space-between;
    border-bottom: 3px solid #E1E5E8;
}

body main .calendar .dates p {
    border-left: 3px solid #E1E5E8;
    padding: 10px 25px;
    width: 100%;
}

body main .calendar .dates p:first-child {
    border: none;
}

body main .calendar .dates .today {
    font-weight: 700;
}

body main .calendar .content {
    padding-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

body main .calendar .content .column {
    height: 100%;
    border-left: 3px solid #EBECEC;
    padding: 0px 25px;
    width: 100%;
}

body main .calendar .content .column:first-child {
    border: none;
}

body main .calendar .content .container .task {
    border-left: 10px solid #ABE7B8;
    border-radius: 10px;
    height: 100%;
    padding: 5px 10px;
    text-transform: capitalize;
}

body main .calendar .content .container .task .title {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 2px;
}

body main .calendar .content .container .task .project {
    font-size: 12px;
    line-height: 1;
}

body main .calendar .content .container {
    border-radius: 15px;
    border: 3px solid #EBECEC;

}


body main .main-container {
    height: 100%;
    width: 100%;
}

body main .main-container .create-task {
    width: 600px;
    height: 100%;
    /* border-left: 3px solid #EBECEC; */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
}

body main .creation-container {
    width: 100%;
    height: 100%;
    align-items: center;
}

body main form .section-container{
    width: 100%;
    height: 100%;
    text-transform: capitalize;
    justify-content: center;
    align-items: center;

}

body main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body main form button{
    border: none;
    border-radius: 20px;
    padding: 5px 12px;
    margin-top: 10px;
}

body main form .section-container {
    border-bottom: 1px solid #5B5B5B;
    width: 100%;
    height: fit-content;
}

body main form .section-container p {
    margin-right: auto;
    padding-left: 5px;
    /* line-height: 0.5; */
    font-weight: 550;
}

body main .section-container .title {
    /* margin-right: auto; */
    line-height: 0.5;
    /* font-size: 1px; */
    font-weight: 600;
    margin-bottom: 5px;
}

body main .section-container .input-container {
    /* align-items: center; */
    padding: 5px 0;
    /* margin-right: auto; */
    width: 100%;
}

body main .section-container .input-container svg{
    /* margin-bottom: 1px; */
    /* align-items: center; */
    margin: 0 5px 1px 0;
}

body main form .section-container .input-container input {
    border: none;
    background-color: transparent;
}

body main form .section-container .input-container input::placeholder {
    color: #363636;
}

body main .main-container .create-task form .section-container .input-container select {
    border: none;
    background-color: transparent;
    color: #5B5B5B;
    padding: 5px 0;
    width: 100%;
  }










body main .login-container form {
    width: 100%;
    padding: 20px;
}

body main .login-container form .right {
    margin-left: auto;
}

body main .login-container form a:hover {
    font-weight: 600;
    cursor: pointer;
}

body .login {
    display: flex;
    justify-content: center;
    align-items: center;
}

body main .login-container {
    height: fit-content;
    width: 400px;
    background-color: #F5F5F5;
    border-radius: 15px;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.3);
    text-transform: capitalize;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.login-btn {
    border: none;
    font-size: 20px;
    width: 100%;
}

body main .login-container .login-text {
    margin-top: 20px;
    font-size: 32px;
    font-weight: 500;
}

body main .login-container form .feather-eye:hover {
    stroke-width: 3;
    cursor: pointer;
}

.feather-eye-off:hover {
    stroke-width: 3;
    cursor: pointer;
}