.colourful {
  background: linear-gradient(to right, #4C64CA, #5F39BC);
  color: #EAEAEA;
}

.small-bar {
  min-width: 55px;
}

svg {
  transition: stroke-width 0.2s ease;
}

.sidebar-container {
  position: relative;
  height: 100%;
  transition: min-width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

.sidebar-expanded {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  text-transform: capitalize;
  padding: 64px;
}
.sidebar-expanded .header-container {
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  padding: 15px 0px 20px 25px;
  width: inherit;
  font-size: 2rem;
  height: 100px;
  color: #000000;
}
.sidebar-expanded .header-container .feather-x {
  margin-right: 10px;
}
.sidebar-expanded .header-container .feather-x:hover {
  cursor: pointer;
  stroke-width: 3;
}
.sidebar-expanded .header-container .user-name {
  color: #000000;
}
.sidebar-expanded .header-container .user-name:hover {
  font-weight: 600;
  cursor: pointer;
}
.sidebar-expanded .new-task-button {
  display: flex;
  flex-direction: row;
  background-color: #2C353F;
  width: 100%;
  padding: 12px 0px;
  justify-content: center;
  border-radius: 20px;
  font-size: 3rem;
  color: #FFFFFF;
  margin-bottom: 20px;
  font-weight: 300;
}
.sidebar-expanded .new-task-button svg {
  width: 3rem;
  height: 100%;
  margin-right: 16px;
}
.sidebar-expanded .new-task-button p {
  text-transform: capitalize;
}
.sidebar-expanded .logout-button {
  display: flex;
  flex-direction: row;
  background-color: #EFEFEF;
  width: 100%;
  padding: 12px 0px;
  justify-content: center;
  border-radius: 20px;
  border: none;
  font-size: 2.5rem;
  color: #000000;
  font-weight: 300;
}
.sidebar-expanded .logout-button svg {
  width: 2.5rem;
  height: 100%;
  margin-right: 16px;
}
.sidebar-expanded .logout-button p {
  text-transform: capitalize;
}
.sidebar-expanded .header-text {
  color: #6C7B91;
  font-size: 2.5rem;
  font-weight: 550;
  margin-bottom: 10px;
}
.sidebar-expanded .menu {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 3rem;
  text-transform: capitalize;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #E1E5E8;
  margin-bottom: 32px;
}
.sidebar-expanded .menu .navigation-link:last-child {
  margin-top: auto;
}
.sidebar-expanded .menu .navigation-selected {
  display: flex;
  flex-direction: row;
  color: #000000;
  border-radius: 20px;
  background-color: #EFEFEF;
  margin-bottom: 32px;
  padding: 16px 12px;
}
.sidebar-expanded .menu .navigation-selected svg {
  margin-right: 1rem;
  width: 3rem;
  height: 100%;
  stroke-width: 3;
  margin-left: 32px;
  padding-bottom: 4px;
}
.sidebar-expanded .menu .navigation-selected p {
  margin-right: 25px;
  font-weight: 550;
}
.sidebar-expanded .menu .navigation-link {
  display: flex;
  flex-direction: row;
  color: #5B5B5B;
  margin-bottom: 32px;
  padding: 16px 12px;
}
.sidebar-expanded .menu .navigation-link svg {
  margin-right: 1rem;
  width: 3rem;
  height: 100%;
  stroke-width: 3;
  margin-left: 32px;
  padding-bottom: 4px;
}
.sidebar-expanded .menu .navigation-link p {
  margin-right: 25px;
  font-weight: 550;
}
.sidebar-expanded .menu .navigation-link:hover {
  cursor: pointer;
  font-weight: 600;
  transition: font-weight 0.2s ease;
}
.sidebar-expanded .menu .navigation-link:hover svg {
  stroke-width: 3;
}
.sidebar-expanded .profile {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: auto;
}
.sidebar-expanded .profile img {
  background-color: blue;
  width: 6rem;
  height: 6rem;
  border-radius: 50px;
  margin-right: 16px;
}
.sidebar-expanded .profile .profile-content {
  display: flex;
  flex-direction: row;
  margin-bottom: 64px;
  margin-top: 16px;
}
.sidebar-expanded .profile .profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.5rem;
  height: 100%;
}
.sidebar-expanded .profile .profile-name {
  color: #000000;
  text-transform: capitalize;
  font-weight: 550;
  line-height: 1;
  margin-bottom: 4px;
}
.sidebar-expanded .profile .profile-email {
  color: #5B5B5B;
  text-transform: lowercase;
  line-height: 1;
}

/*# sourceMappingURL=sidebar.css.map */
