svg {
  transition: stroke-width 0.2s ease;
  stroke-width: 0.125rem;
}

p {
  transition: font-weight 0.2s ease;
}

form {
  width: 100%;
}

.hide {
  display: none;
}

.collapsed-size {
  min-width: 5.125rem;
}

.bottom {
  margin-top: auto;
}

ul {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header-logo {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.navigation-link {
  display: flex;
  flex-direction: row;
  color: #5B5B5B;
  margin-bottom: 0.3rem;
  padding: 0.4rem 0.5rem;
  align-items: center;
  min-height: 2.3rem;
}
.navigation-link svg {
  margin-right: 0.5rem;
  width: 1rem;
  height: 100%;
  stroke-width: 0.125rem;
  margin-left: 0.25rem;
  padding-bottom: 0.15rem;
}

.new-task-button {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.25rem 0px;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: #2C353F;
  color: #FFFFFF;
  margin-bottom: 0.5rem;
  min-height: 2rem;
}
.new-task-button:hover {
  cursor: pointer;
}
.new-task-button:hover p {
  font-weight: 550;
}
.new-task-button:hover svg {
  stroke-width: 0.1875rem;
}
.new-task-button svg {
  width: 1rem;
  margin-right: 0.5rem;
}
.new-task-button p {
  text-transform: capitalize;
}
.new-task-button p {
  margin-right: 1rem;
}

.logout-button {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.25rem 0px;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: #EFEFEF;
  color: #000000;
}
.logout-button:hover {
  cursor: pointer;
}
.logout-button:hover p {
  font-weight: 550;
}
.logout-button:hover svg {
  stroke-width: 0.1875rem;
}
.logout-button svg {
  width: 1rem;
  margin-right: 0.5rem;
}
.logout-button p {
  text-transform: capitalize;
}
.logout-button p {
  margin-right: 0.5rem;
}

.header-container {
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  height: fit-content;
  color: #000000;
  min-height: 3rem;
}
.header-container .company-name {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 550;
}
.header-container .feather-x {
  margin-left: auto;
  stroke-width: 0.1875rem;
  width: 1rem;
  height: 100%;
  color: #363636;
}
.header-container .feather-x:hover {
  cursor: pointer;
  stroke-width: 0.25rem;
  color: #000000;
}
.header-container .user-name {
  color: #000000;
}
.header-container .user-name:hover {
  font-weight: 600;
  cursor: pointer;
}

.header-text {
  color: #6C7B91;
  font-size: 1rem;
  font-weight: 550;
  margin-bottom: 0.5rem;
}

.menu {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  text-transform: capitalize;
  flex-grow: 1;
  width: 100%;
  border-bottom: 0.1875rem solid #E1E5E8;
  margin-bottom: 1rem;
}
.menu .navigation-link:last-child {
  margin-top: auto;
}
.menu .navigation-link:hover {
  cursor: pointer;
  font-weight: 600;
}
.menu .navigation-link:hover svg {
  stroke-width: 0.1875rem;
}
.menu .selected {
  display: flex;
  flex-direction: row;
  color: #000000;
  border-radius: 0.5rem;
  background-color: #EFEFEF;
}

.profile {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: auto;
}
.profile img {
  background-color: blue;
  width: 2rem;
  height: 2rem;
  border-radius: 0.75rem;
  margin-right: 0.5rem;
}
.profile .profile-content {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  align-items: center;
}
.profile .profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8rem;
  line-height: 1;
  height: 100%;
}
.profile .profile-name {
  color: #000000;
  text-transform: capitalize;
  margin-bottom: 0.25rem;
}
.profile .profile-email {
  color: #5B5B5B;
  text-transform: lowercase;
}

.sidebar-container {
  position: relative;
  transition: min-width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.sidebar-expanded {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-transform: capitalize;
  padding: 1rem;
  min-height: 100%;
  background: #FFFFFF;
  min-width: 15rem;
}
.sidebar-expanded .sidebar-closed-button {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sidebar-collapsed {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: #FFFFFF;
  text-transform: capitalize;
  min-width: 5.125rem;
}
.sidebar-collapsed .header-container {
  justify-content: center;
}
.sidebar-collapsed .header-container svg:hover {
  stroke-width: 0.1875rem;
  cursor: pointer;
}
.sidebar-collapsed .new-task-button {
  padding: inherit 0.5rem;
}
.sidebar-collapsed .new-task-button p {
  margin-right: 0;
}
.sidebar-collapsed svg {
  margin-left: 0;
  margin-right: 0;
}
.sidebar-collapsed .navigation-link {
  justify-content: center;
}
.sidebar-collapsed .logout-button {
  justift-content: center;
}
.sidebar-collapsed .profile-image {
  margin-right: 0;
}
.sidebar-collapsed .profile-content {
  justify-content: center;
  width: 100%;
}
.sidebar-collapsed p {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.sidebar-collapsed .header-logo {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.sidebar-collapsed .sidebar-opened-button {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*# sourceMappingURL=sidebar.css.map */
