{% extends  "base.html" %}
{% load static %}
{% block title %} Calendar {% endblock %}
{% block styles %}
<link href="{% static 'tasks/css/calendar.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="inline-column test2">
    <header class="inline-column">
        <div class="inline-row header-content">
            <div class="user-info">
                <p class="welcome-message primary">welcome matthew</p>
                <p class="current-date secondary">19th february 2024</p>
            </div>
            <svg class="feather feather-more-vertical three-dots" fill="none" height="24" stroke="currentColor"
                 stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="1"></circle>
                <circle cx="12" cy="5" r="1"></circle>
                <circle cx="12" cy="19" r="1"></circle>
            </svg>
        </div>
        <div class="advanced-options">
            <div class="container inline-row">
                <button class="secondary-button secondary today-button">today</button>
                <div class="date-controls inline-row">
                    <svg class="feather feather-chevrons-left prev-month" fill="none" height="24" stroke="currentColor"
                         stroke-linecap="round"
                         stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                         xmlns="http://www.w3.org/2000/svg">
                        <polyline points="11 17 6 12 11 7"></polyline>
                        <polyline points="18 17 13 12 18 7"></polyline>
                    </svg>
                    <svg class="feather feather-chevron-left prev-week" fill="none" height="24" stroke="currentColor"
                         stroke-linecap="round"
                         stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                         xmlns="http://www.w3.org/2000/svg">
                        <polyline points="15 18 9 12 15 6"></polyline>
                    </svg>
                    <p class="selected-date"></p>
                    <svg class="feather feather-chevron-right next-week" fill="none" height="24" stroke="currentColor"
                         stroke-linecap="round"
                         stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                         xmlns="http://www.w3.org/2000/svg">
                        <polyline points="9 18 15 12 9 6"></polyline>
                    </svg>
                    <svg class="feather feather-chevrons-right next-month" fill="none" height="24" stroke="currentColor"
                         stroke-linecap="round"
                         stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                         xmlns="http://www.w3.org/2000/svg">
                        <polyline points="13 17 18 12 13 7"></polyline>
                        <polyline points="6 17 11 12 6 7"></polyline>
                    </svg>
                </div>
                <div class="action-buttons inline-row">
                    <div class="br inline-row">
                        <button class="mmr inline-row secondary-button secondary view-button"
                                onclick="toggleWeek()">
                            <svg class="smr feather feather-eye" fill="none" height="24" stroke="currentColor"
                                 stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                                 width="24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                <circle cx="12" cy="12" r="3"></circle>
                            </svg>
                            <p class="smr">views</p>
                        </button>
                        <button class="mmr inline-row secondary-button secondary">
                            <svg class="smr feather feather-filter" fill="none" height="24" stroke="currentColor"
                                 stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                                 width="24" xmlns="http://www.w3.org/2000/svg">
                                <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                            </svg>
                            <p class="smr">filter</p>
                        </button>
                    </div>
                    <button accesskey="w" class="secondary-button colourful inline-row create-button"
                            onclick="createTask()">
                        <p class="create-text">create</p>
                        <svg class="feather feather-plus" fill="none" height="24" stroke="currentColor"
                             stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                             width="24" xmlns="http://www.w3.org/2000/svg">
                            <line x1="12" x2="12" y1="5" y2="19"></line>
                            <line x1="5" x2="19" y1="12" y2="12"></line>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </header>


    <div class="inline-row main-container">
        <div class="calendar-grid inline-column">
            <div class="content inline-row">
                {% for day in headers %}
                <div class="day-column {{ day }}-column" id="column{{ forloop.counter0 }}" ondragover="allowDrop(event)"
                     ondrop="drop(event)">
                    <div class="column-header">
                        <p class="{{ day }}-header"></p>
                    </div>
                    <div class="column-content">
                        {% for draggable_item_html in draggable_tasks %}
                            {% if day == 'monday' %}
                                {{ draggable_item_html | safe }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% include 'tasks/partials/task_form.html' %}
    </div>
</div>

<script src="{% static 'tasks/js/draggable_tasks.js' %}"></script>
<script src="{% static 'tasks/js/show_task_form.js' %}"></script>
<script src="{% static 'tasks/js/week_view_changer.js' %}"></script>
<script src="{% static 'tasks/js/date_selector.js' %}"></script>


{% endblock %}